.container{
    width: 100%;
    height: 100%;
}
.col-1{
    float: left;
    height: 100px; 
    width:33.33%;
    padding: 20px;
}
.col-2{
    float:left;
    height:200px;
    width:66.66%;
    padding: 20px;
}
.col-3{
    float: right;;
    height:200px;
    width:33.33%;
    padding: 20px;
}
[class*="col"]
{
    box-sizing: border-box;
    margin: 0px;
    padding:5px;
    background-clip: content-box;
}
[class*="col"]>p{
    margin:10px;
    color: white;
}